* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
/*HEADER*/
.header {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.3em;
}
.header .header__navbar {
  background-color: #c4c4c4;
}
.header .header__navbar .container-fluid .header__logo img {
  transition: transform 0.3s ease;
}
.header .header__navbar .container-fluid .header__logo img:hover {
  transform: scale(1.1) rotate(-10deg);
}
.header .header__navbar .container-fluid .header__menu .header__nav .header__nav-item .header__nav-link:hover {
  background-color: #626262;
  color: #ffffff;
  border-radius: 10px;
}
.header .header__navbar .container-fluid .header__menu .header__nav .header__nav-item .header__dropdown-menu .header__dropdown-item:hover {
  background-color: #626262;
  color: #ffffff;
  border-radius: 10px;
}
.header .header__navbar .container-fluid .header__menu .carrito-icon {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 28px;
}
.header .header__navbar .container-fluid .header__menu .carrito-icon i {
  font-size: 28px;
}
.header .header__navbar .container-fluid .header__menu .carrito-icon #carritoCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/*MAIN*/
.main {
  position: relative;
  height: 100vh;
  background-color: #000000;
}
.main .main__video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main .main__video .main__video-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main .main__video .main__video-header .main__video-logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  filter: invert(100%);
}
.main .main__video .main__video-header .main__video-titulo {
  font-size: 3em;
  margin-bottom: 20px;
  line-height: 1.2;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.main .main__video .main__video-header .main__video-link .main__video-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main .main__video .main__video-header .main__video-link .main__video-button:hover {
  background-color: #626262;
}
.main .main__video .main__video-archivo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/*PRODUCTOS DESTACADOS*/
.section_tarjeta {
  margin: 50px;
}
.section_tarjeta .section_tarjeta-titulo {
  font-family: Roboto;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}
.section_tarjeta .section_tarjeta-card .section_tarjeta-column {
  padding: 15px;
}
.section_tarjeta .section_tarjeta-card .section_tarjeta-column .section_tarjeta-cardin {
  border: 1px solid #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.section_tarjeta .section_tarjeta-card .section_tarjeta-column .section_tarjeta-cardin:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.section_tarjeta .section_tarjeta-card .section_tarjeta-column .section_tarjeta-cardin .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.section_tarjeta .section_tarjeta-card .section_tarjeta-column .section_tarjeta-cardin .section_tarjeta-cardbody {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.section_tarjeta .section_tarjeta-card .section_tarjeta-column .section_tarjeta-cardin .section_tarjeta-cardbody .card-title {
  font-size: 1.25rem;
  margin-bottom: 15px;
}
.section_tarjeta .section_tarjeta-card .section_tarjeta-column .section_tarjeta-cardin .section_tarjeta-cardbody .card-text {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #626262;
}
.section_tarjeta .section_tarjeta-card .section_tarjeta-column .section_tarjeta-cardin .section_tarjeta-cardbody .section_tarjeta-link {
  text-decoration: none;
}
.section_tarjeta .section_tarjeta-card .section_tarjeta-column .section_tarjeta-cardin .section_tarjeta-cardbody .section_tarjeta-link .section_tarjeta-button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.section_tarjeta .section_tarjeta-card .section_tarjeta-column .section_tarjeta-cardin .section_tarjeta-cardbody .section_tarjeta-link .section_tarjeta-button:hover {
  background-color: #626262;
  transform: translateY(-3px);
}

/*INFO-INDEX*/
.info__index {
  margin: 2em 0;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.info__index .info__index-titulo {
  font-size: 2.2em;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 1em;
  text-align: center;
  padding: 10px;
}
.info__index .info__index-texto {
  font-size: 1.5em;
  color: #313131;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
}

/*BANNER*/
#carouselExampleAutoplaying {
  margin: 1.5rem auto;
}

/*FOOTER*/
.footer {
  margin-top: 20vh;
  position: relative;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.footer .footer__list {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}
.footer .footer__list .footer__item {
  display: inline-block;
  margin: 0 15px;
}
.footer .footer__list .footer__item .footer__link {
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}
.footer .footer__list .footer__item .footer__link:hover {
  transform: scale(1.1) rotate(-10deg);
  color: #626262;
}
.footer .footer__copyright {
  margin-top: 10px;
  font-size: 0.9em;
}

/*NOSOTROS-INFO*/
.info {
  background-color: #313131;
  color: #ffffff;
  padding: 2em 1.5em;
  margin: 1.5em 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.info .info__titulo {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
  border-bottom: 2px solid #626262;
  padding-bottom: 0.5em;
}
.info .info__texto {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 1.5em;
  text-align: center;
}
.info .info__texto .resaltado {
  background-color: #ffffff;
  padding: 0 5px;
  color: #000000;
}

/*PULSERAS Y COLLARES*/
.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.productos .productos_pulsera-collar {
  width: 250px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.productos .productos_pulsera-collar img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.productos .productos_pulsera-collar h3 {
  font-size: 18px;
  margin: 10px 0;
}
.productos .productos_pulsera-collar p {
  font-size: 16px;
  color: #555;
  font-weight: bold;
}
.productos .productos_pulsera-collar .productos_link {
  text-decoration: none;
}
.productos .productos_pulsera-collar .productos_link .productos_link-button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.productos .productos_pulsera-collar .productos_link .productos_link-button:hover {
  background-color: #626262;
  transform: translateY(-3px);
}

/* CONTACTO - FORMULARIO */
.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 2em auto;
  max-width: 1200px;
}
.contenedor .formulario {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Roboto;
  margin-right: 2em;
  width: 100%;
  max-width: 600px;
}
.contenedor .formulario .formulario__titulo {
  font-size: 1.3em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.contenedor .formulario .formulario__grupo {
  margin-bottom: 1.5em;
}
.contenedor .formulario .formulario__grupo .formulario__etiqueta {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 0.5em;
}
.contenedor .formulario .formulario__grupo .formulario__campo {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
}
.contenedor .formulario .formulario__grupo .formulario__campo--mensaje {
  min-height: 150px;
  resize: none;
}
.contenedor .formulario .formulario__boton {
  background-color: #000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}
.contenedor .formulario .formulario__boton:hover {
  background-color: #808080;
  color: #000;
}
.contenedor .formulario .formulario__boton:active {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

/*MAPA*/
.mapa {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapa .mapa_iframe-container {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  margin-top: 2em;
  box-sizing: border-box;
}
.mapa .mapa_iframe-container .mapa_ratio-16x9 {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  background-color: #ccc;
}
.mapa .mapa_iframe-container .mapa_ratio-16x9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
}

/*PREGUNTAS*/
.acordion {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  max-width: 800px;
}
.acordion .acordion_grupo {
  margin-bottom: 1rem;
  border: none;
}
.acordion .acordion_grupo .acordion_grupo-titulo {
  background-color: #c4c4c4;
  color: #000000;
  border: 1px solid #c4c4c4;
  border-radius: 8px 8px 0 0;
  text-align: center;
}
.acordion .acordion_grupo .acordion_grupo-titulo .acordion_grupo-boton {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  background-color: #000000;
  border: none;
  width: 100%;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.acordion .acordion_grupo .acordion_grupo-titulo .acordion_grupo-boton:focus {
  outline: none;
}
.acordion .acordion_grupo .acordion_grupo-titulo .acordion_grupo-boton:not(.collapsed) {
  background-color: #626262;
  color: #ffffff;
}
.acordion .acordion_grupo .acordion-collapsa {
  border-radius: 0 0 8px 8px;
  border: 1px solid #c4c4c4;
  background-color: #313131;
}
.acordion .acordion_grupo .acordion-collapsa .acordion_colapsa-texto {
  padding: 1rem;
  color: #ffffff;
  background-color: #313131;
}

/* MEDIA QUERY*/
@media (max-width: 768px) {
  .info__index {
    padding: 1em;
  }
  .info__index-titulo {
    font-size: 2em;
    text-align: center;
  }
  .info__index-texto {
    font-size: 0.5em;
    text-align: justify;
  }
  .contenedor {
    flex-direction: column;
    gap: 20px;
  }
  .formulario {
    margin-right: 0;
    width: 100%;
  }
  .mapa {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .modal-content {
    width: 95%;
    padding: 10px;
  }
  .producto {
    padding: 5px 0;
  }
  img {
    width: 40px;
    height: 40px;
  }
  .modal-close {
    font-size: 25px;
  }
  h2 {
    font-size: 16px;
  }
  .modal-footer {
    flex-direction: column;
    align-items: center;
  }
  .btn-comprar, #vaciarCarrito {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
  }
}
#modalCarrito {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#modalCarrito.active {
  display: flex;
}
#modalCarrito .modal-content {
  background-color: #ffffff;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
#modalCarrito .modal-content .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #000000;
  cursor: pointer;
}
#modalCarrito .modal-content .modal-close:hover {
  color: #ffffff;
}
#modalCarrito .modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

#productosCarrito .producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#productosCarrito .producto img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}
#productosCarrito .producto h3 {
  font-size: 14px;
  margin: 0;
}
#productosCarrito .producto p {
  font-size: 12px;
  margin: 0;
}
#productosCarrito .producto .botonesEliminar {
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
}
#productosCarrito .producto .botonesEliminar:hover {
  background-color: #626262;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.modal-footer p#total {
  font-weight: bold;
  font-size: 18px;
}
.modal-footer #vaciarCarrito {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}
.modal-footer #vaciarCarrito:hover {
  background-color: #626262;
}
.modal-footer #comprar {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}
.modal-footer #comprar:hover {
  background-color: #626262;
}

/*# sourceMappingURL=estilos.css.map */
