*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
/*HEADER*/

.header{
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.3em;
}

.header__logo img {
    transition: transform 0.3s ease; 
}

.header__logo:hover img {
    transform: scale(1.1) rotate(-10deg); 
}

.header__logo .navbar-brand:hover{
    background-color: #8c8c8c;
    color: #000000;
}

/*MAIN*/

.main {
    position: relative;
    height: 100vh;
    background-color: #000000;
}
  
.main__video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
.main__video-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.main__video-logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    filter: invert(100%);

}
  
.main__video-titulo{
    font-size: 3em;
    margin-bottom: 20px;
    line-height: 1.2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.main__video-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.main__video-button:hover {
    background-color: #868686;
}
  
.main__video-archivo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*PRODUCTOS DESTACADOS*/
.section_tarjeta{
    margin: 1.5em;
    
}

.section_tarjeta-titulo{
    font-family: Roboto;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.card-body{
    text-align: center;
}

/* INFO INDEX */
.info__index{
    background-color: #000000; 
    color: #ffffff;
    padding: 2em 1.5em;
    margin: 2rem 2rem 2rem 2rem;
    border-radius: 8px;
    text-align: center;
    font-family: Roboto;
    
}


/*BANNER*/
#carouselExampleAutoplaying{
    margin: 1.5rem auto ;
}


/*NOSOTROS INFO*/
.info {
    background-color: #333; 
    color: #fff;
    padding: 2em 1.5em;
    margin: 1.5em 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}
  
.info__titulo {
    font-size: 2em; 
    color: #fff;
    text-align: center;
    margin-bottom: 1em; 
    font-weight: bold;
    border-bottom: 2px solid #666;
    padding-bottom: 0.5em;
}
  
.info__texto {
    font-size: 1rem; 
    line-height: 1.6; 
    color: #ccc; 
    margin-bottom: 1.5em; 
    text-align: justify;
}

    
/* Estilos productos */

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
  
.cuadrado {
    width: 250px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}
  
.cuadrado img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
  
.cuadrado h3 {
    font-size: 18px;
    margin: 10px 0;
}
  
.cuadrado p {
    font-size: 16px;
    color: #555;
}
  

/* Formulario */
.contenedor {
    display: flex; 
    justify-content: space-between;
    margin: 2em auto;
    max-width: 1200px;
    padding: 2em;
}
.formulario {
    flex: 1; 
    margin-right: 2em; 
    background-color: #f0f0f0; 
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto;
}
  
.formulario__titulo {
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    border-radius: 8px;
    margin-bottom: 1rem;

}
  
.formulario__grupo {
    margin-bottom: 1.5em;
}
  
.formulario__etiqueta {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 0.5em;
}
  
.formulario__campo {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9; 
    color: #333; 
}
  
.formulario__campo--mensaje {
    min-height: 150px;
    resize: none;
}
  
.formulario__boton {
    background-color: #000;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}
  
.formulario__boton:hover {
    background-color: #808080;
    color: #000;
}
  
.formulario__boton:active {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}
  
  /* Mapa (Iframe) */
.mapa {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.iframe-container {
    width: 100%; 
    max-width: 600px; 
    border-radius: 8px; 
    margin-top: 2em; 
}
  
.ratio-16x9 {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    background-color: #ccc;
}
  
.ratio-16x9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
}
  

  /*Preguntas*/

.accordion {
    margin: 2em auto;
    padding: 0 20px; 
    max-width: 800px;
    border-radius: 8px;
    background-color: #fff;
}
  
  
.accordion-item {
    margin-bottom: 1em; 
    border: 1px solid #ddd;
    border-radius: 8px;
}
  
  
.accordion-header {
    background-color: #000;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.5rem 0.5rem 0 0;
}
  
  
.accordion-button {
    font-size: 1.1rem;
    color: #fff;
    background-color: #000;
    border: none;
    padding: 0.75rem 1.25rem; 
    border-radius: 0.5rem; 
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
  
.accordion-button.collapsed:hover {
    background-color: #ccc; 
    color: #000;
}
  
 
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: white; 
    border: 1px solid #ddd; 
}
  
.accordion-button:not(.collapsed):hover {
    background-color: #ccc; 
    color: #000;
}
  
.accordion-body {
    padding: 1.25rem;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-radius: 0 0 8px 8px; 
}

  /*footer*/

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer__list {
    list-style: none; 
    padding: 0;
    margin: 0 0 15px 0;
}

.footer__item {
    display: inline-block; 
    margin: 0 15px;
}

.footer__link {
    color: #ffffff; 
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.footer__link:hover {
    transform: scale(1.1) rotate(-10deg);
    color: #5f5f5f; 
}

.footer__copyright {
    margin-top: 10px; 
    font-size: 0.9em; 
}


@media (max-width: 768px) {
    .main__video-logo {
        max-width: 40%;
    }
    
    .main__video-titulo {
        font-size: 1.5rem; 
    }
    
    .main__video-button {
        padding: 10px 20px;
        font-size: 1rem; 
    }
  
   .section_tarjeta .card {
        max-width: 70%;
        margin: 0 auto 1rem auto; 
        padding: 1rem;
    }

    .card-img-top {
        width: 100%; 
        height: auto;
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .main__video-button {
        font-size: 0.9rem; 
        padding: 0.6rem 1rem;
    }

    .section_tarjeta .row {
        flex-direction: column;
        gap: 1rem; 
    }

    .info{
        margin: 1.5rem;
    }
    .info__titulo {
        font-size: 2rem;
    }

    .info__texto {
        font-size: 1rem;
    }

    .contenedor {
        display: block;
        padding: 1em;
    }

    .formulario {
        margin-right: 0;
        margin-bottom: 2em; 
    }

    .mapa {
        margin-top: 2em;
    }

    .iframe-container iframe {
        height: 250px;
    }

    .footer__list {
        flex-direction: column; 
        align-items: center;
    }

    .footer__copyright {
        text-align: center;
        margin-top: 10px;
    }
}