/*HEADER*/
.header{
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.3em;
    .header__navbar{
        background-color: $color_nav;
        .container-fluid{
            .header__logo img {
                transition: transform 0.3s ease;
                &:hover{
                    transform: scale(1.1) rotate(-10deg);
                } 
            }
            .header__menu{
                .header__nav{
                    .header__nav-item{
                        .header__nav-link{
                            &:hover{
                                background-color: $color_info;
                                color: $color_fondo;
                                border-radius: 10px;
                            }
                        }
                        .header__dropdown-menu{
                            .header__dropdown-item{
                                &:hover{
                                background-color: $color_info;
                                color: $color_fondo;
                                border-radius: 10px;
                                }
                            }
                        }
                    }
                }
                .carrito-icon {
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    font-size: 28px;
                  
                    i {
                      font-size: 28px;
                    }
                  
                    #carritoCount {
                      position: absolute;
                      top: -5px;
                      right: -5px;
                      background-color:$color_fondo;
                      color: $color_panel;
                      font-size: 14px;
                      width: 18px;
                      height: 18px;
                      border-radius: 50%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-weight: bold;
                    }
                }          
            }
        }
    }  
}
